*{ 
    box-sizing: border-box;  
}
.row{
    position: relative;
}
#heading{
    text-align: center;
    color:brown;
}
p{ 
    font-family: Berlin Sans FB,Arial ,sans-serif;
    font-weight: bold;
    font-size: 20px;
}
div{
    position: relative;
    float:left;
    padding: 10px;
}
section{
    position: relative;
    border:3px solid black;
    overflow: visible;
}
.one{
    background-color: antiquewhite;
}
.two{
    background-color: cornsilk;
}
.three{
    
   background-color: #CDC0B0; 
}
p{
    width:90%;
    margin-top:45px;
}
section >span {
    
    
    border:2px solid black;
    padding:2px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    position:relative;
    display: inline-block;
    background-color: #E0EEEE;

}
.sectiontitle1{
    color:darkcyan;
    position: absolute;
    right:0px;
    top:0px;
   
}

.sectiontitle2{
    color:darkolivegreen;
    position: absolute;
    right:0px;
    top:0px;
}

.sectiontitle3{
    color: darkred;
    position: absolute;
    right:0px;
    top:0px;
}



/*******Responsive Design********/
.row {
  width: 100%;
}
/********** Large devices only **********/


@media (min-width:992px )
{
    
    .col-lg-4{
        
        width:33.33%;
    }
    
    
}



/*************TAblet View**********/
@media (min-width: 768px) and (max-width: 991px){
    
    .col-md-6{
        
        width:50%;
    }
    .col-md-12{
       width: 100%;
    }
    
}




/*******Mobile Devices********/

@media (max-width:767px){
    
    .col-xs{
        width: 100%;
    }
}




























